html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway";
}

section {
    padding-left: 8vw;
    padding-right: 8vw;
}

.white {
    color: #fff;
}

.light {
    font-weight: 300;
}

.celeste {
    background-color:#0DCAF0;
}

#form-mensaje {
    height: 12rem;
}

#enviarCorreo {
    color: #fff;
    background-color: #0DCAF0;
}

#ftr {
    padding-left: 10rem;
    padding-right: 10rem;
}